<%= link_to "Download as Csv", users_path(format: "csv"), class: 'btn btn-default' %>


<%= link_to "Download as Pdf", employees_path(format: "pdf"), class: "btn btn-default" %>


<a href="send_mail" class = "btn btn-default">Send mail</a>

<%= link_to  "Image gallery", Image %>

<%= link_to  "Crud Model", Officer %>