<%= link_to  "Image gallery", Image %>
<%= link_to  "Crud Model", Officer %>
<%= link_to "Download as Csv", home_users_path(format: :csv), class: 'btn btn-default' %>
<%= link_to "Download as Pdf", home_pdfs_path(format: "pdf"), class: "btn btn-default" %>
<a href="send_mail" class = "btn btn-default">Send mail</a>
